h1 a {
    color:#ffe9f4;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    transition-duration: .5s;
}

a:hover {
    color: #f885bf;
 
}

.MainContent {
    background-color: #ffe9f4;
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
}


.MainContent-header {
    height: 20%; 
    width: auto;  
    background-color: rgb(100, 4, 100);
    text-align: center; 
    border-bottom: solid 5px black; 
}

.MainContent-bar {
    margin-top: 100px;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    font-family: 'Pacifico', cursive;
    font-size: 20px; 
    text-align: center; 
    color:  rgb(100, 4, 100);
}

.bar1 { 
    background-color: rgb(55, 243, 187);
    width: 20%;  
    margin-left: 10%;
}

.bar2 {
    background-color: rgb(144, 207, 248);
    width: 20%; 
    margin-left: 2%;
}


.bar3 {
    background-color: rgb(253, 255, 157);
    width: 20%; 
    margin-left: 2%;  
}

.bar4 {
    background-color: rgb(55, 243, 187);
    width: 20%; 
    margin-left: 2%;    
}

.bar5 {
    background-color: rgb(144, 207, 248);
    width: 20%; 
    margin-left: 2%;   
}

.bar6 {
    background-color: rgb(253, 255, 157);
    width: 20%; 
    margin-left: 2%;  
}

.bar7 {
    background-color:rgb(55, 243, 187);
    width: 20%; 
    margin-left: 2%;
    transition-duration: .05s;
    margin-right: 10%;    
}

.bar1:hover {
    background: url('../img/records.jpg');

  }

.bar2:hover {
    background: url('../img/records.jpg');

  }

.bar3:hover {
    background: url('../img/records.jpg');

  }

.bar4:hover {
    background: url('../img/records.jpg');
  }

.bar5:hover {
    background: url('../img/records.jpg');
  }

.bar6:hover {
    background: url('../img/records.jpg');
  }

.bar7:hover {
    background: url('../img/records.jpg');

  }

