h1 {
    color:#ffe9f4;
    font-family: 'Pacifico', cursive;
}

.MainContent {
    background-color: #ffe9f4;
    display: flex; 
    flex-direction: column;
    min-height: 100vh;


}

.MainContent-header {
    height: 20%; 
    width: auto;  
    background-color: rgb(100, 4, 100);
    text-align: center; 

}

.MainContent-bar {
    margin-top: 100px;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    font-family: 'Pacifico', cursive;
    text-align: center; 
    color:  rgb(100, 4, 100);

}

.bar1 { 
    border: 2px;
    background-color: rgb(55, 243, 187);
    width: 20%;  
}

.bar2 {
    background-color: rgb(144, 207, 248);
    width: 20%; 
}


.bar3 {
    background-color: rgb(253, 255, 157);
    width: 20%; 
    transition-duration: 5s;
}

.bar1:hover {
    background: url('../img/little.jpg'); 

  }

.bar2:hover {
    background: url('../img/panda.jpeg'); 
    
  }

.bar3:hover {
    background: url('../img/bunny.jpg'); 
  }